@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inria Serif', serif;
  font-family: 'Inter', sans-serif;
  background: #ddd5d2;
  height: initial;
}

h1 {
  font-size: 100px;
  color: transparent;
  text-align: center;
  margin-top: 160px;
  -webkit-text-stroke: 2px #3e547d;
}

.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav li {
  /* text-align: center; */
  font-weight: 700;
  font-family: 'Inria Serif', serif;
  color: #303458;
  padding: 30px 10px;
}

.nav li a {
  font-size: 100px;
}

.nav li a span {
  font-size: 70px;
}

.nav li a:hover {
  text-decoration: underline;
}

.side {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background-color: #303458;
  padding: 30px;
  transition: 0.3s;
  color: #303458;
}

.active {
  right: 0;
}

.side ul li {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  color: #ddd5d2;
  cursor: pointer;
}

.side ul li:hover {
  text-decoration: underline;
}

.side ul li:last-child {
  border: none;
}

.btn {
  position: absolute;
  top: 80%;
  left: -16%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #303458;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.btn img {
  width: 20px;
  height: 20px;
}
