@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inria Serif', serif;
  font-family: 'Inter', sans-serif;
  background-color: #ddd5d2;
}

h1 {
  font-size: 100px;
  color: transparent;
  text-align: center;
  margin-top: 40px;
}

.text-stroke_01 {
  -webkit-text-stroke: 2px #3e547d;
}

.main {
  width: 1300px;
  height: 100vhpx;
  /* background-color: red; */
  margin: 0 auto;
  margin-top: 100px;
}

.main ul {
  display: flex;
}

.nav li {
  float: left;
  text-align: center;
  font-size: 128px;
  font-weight: 700;
  font-family: 'Inria Serif', serif;
  color: #303458;
  line-height: 40px;
  position: relative;
  padding: 10px 10px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 70px;
  padding: 10px 10px;
}

.nav li a {
  font-size: 90px;
}

.nav li a:hover {
  text-decoration: underline;
}

.nav_02 li {
  float: left;
  text-align: center;
  font-size: 128px;
  font-weight: 700;
  font-family: 'Inria Serif', serif;
  color: #303458;
  line-height: 40px;
  position: relative;
  padding: 10px 10px;
}

.nav_02 li a {
  font-size: 90px;
}

.nav_02 li a:hover {
  text-decoration: underline;
}

.side {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background-color: #303458;
  padding: 30px;
  transition: 0.3s;
  color: #303458;
}

.active {
  right: 0;
}

.side ul li {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
  color: #ddd5d2;
  cursor: pointer;
}

.side ul li:hover {
  text-decoration: underline;
}

.side ul li:last-child {
  border: none;
}

.btn {
  position: absolute;
  top: 80%;
  left: -16%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #303458;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.btn img {
  width: 20px;
  height: 20px;
}
