.wrapper {
  margin-top: 200px;
  margin-bottom: 100px;
}

.typing-demo {
  width: 350px;
  animation: typing 1s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.content ul {
  width: 300px;
  margin: 0 auto;
}

.content ul li {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
