* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7e7dcd;
}

.container {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.container .photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}

.container .arrow {
  position: fixed;
  top: 40px;
  left: 40px;
}
