.title_box {
  position: fixed;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

svg text {
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-dasharray: 300px;
  animation: stroke 3s linear;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
