* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7e7dcd;
}

a {
  font-size: 40px;
  color: #000;
  position: fixed;
  top: 40px;
  left: 40px;
}

.container {
  width: 1500px;
  margin: 0 auto;
}
.logo {
  width: 400px;
  height: 400px;
  margin-top: 200px;
  margin-left: 50px;
}

ul {
  display: flex;
  gap: 100px;
  margin-bottom: 150px;
}

h5 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #000;
  margin-top: 300px;
}

span {
  font-weight: 600;
}

p {
  color: #ddd;
  position: absolute;
  top: 400px;
  left: 40%;
  line-height: 1.6;
}

.movie {
  margin-bottom: 300px;
  display: flex;
  gap: 100px;
}
