* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7E7DCD;
}

a {
  font-size: 40px;
  color: #000;
  position: absolute;
  top: 40px;
  left: 40px;
}

.container {
    width: 1500px;
    margin: 0 auto;
}
.logo {
    width: 400px;
    height: 400px;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 50px;
}


ul {
    display: flex;
    gap: 150px;
    margin-bottom: 300px;
}

p {
 text-align: center;
 font-size: 25px;
 color: #535353;
 margin-top: 550px;
}