@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);

html,
body {
  font-family: Lato;
  color: white;
  background: #303458;
  height: initial;
}

.main h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  color: #ddd5d2;
  margin-top: 250px;
  margin-bottom: 200px;
}

.menu {
  display: flex;
  justify-content: center;
  color: #ddd5d2;
  font-weight: 700;
}

.menu li {
  padding: 0 30px;
  text-align: center;
}

.menu li a {
  font-size: 36px;
  transition: font-size 0.2s;
}

.menu li a:hover {
  font-size: 40px;
}
