@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: #a97ce9;
  font-family: 'Inter', sans-serif;
}

.logo {
  padding: 40px 40px;
}

.text_box {
  /* text-align: center; */
  /* margin-left: 750px;
  margin-top: 100px; */
}

.wrapper {
  height: 100px;
  margin-left: 750px;
  margin-top: 150px;
  /*This part is important for centering*/
  display: grid;
  /* place-items: center; */
}

.typing-demo {
  width: 430px;
  animation: typing 1s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 64px;
  color: #fff;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.wrapper_02 {
  height: 120px;
  margin-left: 750px;

  /*This part is important for centering*/
  display: grid;
  /* place-items: center; */
}

.wrapper_02 .typing-demo {
  width: 630px;
  animation: typing 5s steps(60), blink 1s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* .text_box h3 {
  font-size: 64px;
  color: transparent;
}

.text_box h1 {
  font-size: 128px;
  color: transparent;
}

.text-stroke_01 {
  -webkit-text-stroke: 1px #fff;
}

.text-stroke {
  -webkit-text-stroke: 3px #fff;
}

.hand {
  position: absolute;
  top: 20%;
  right: 10%;
} */

.bottom {
  margin-top: 250px;
}

.bottom ul {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1000px;
  /* height: 500px; */
}

.bottom ul li > a {
  font-size: 30px;
  color: #3e547d;
  font-weight: 600;
}

.bottom ul li p {
  font-size: 20px;
  padding: 10px 0;
  color: #ddd;
}
