.wrapper {
  height: 100px;
  margin-left: 780px;
  margin-top: 70px;
  margin-bottom: 80px;
  /*This part is important for centering*/
  display: grid;
  /* place-items: center; */
}

.typing-demo {
  width: 350px;
  animation: typing 1s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}


.content ul {
  display: flex;
  gap: 50px;
  padding: 35px 0;
  margin-left: 750px;
 
}

.content ul li {
  font-size: 20px;
  
}
