.wrapper {
  height: 100px;
  margin-left: 1050px;
  margin-top: 150px;
  margin-bottom: 100px;
  /*This part is important for centering*/
  display: grid;
  /* place-items: center; */
}

.typing-demo {
  width: 430px;
  animation: typing 1s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 64px;
  color: #fff;
  font-weight: 600;
}

/* h3 {
  font-size: 64px;
  color: transparent;
  margin-top: 100px;
  margin-bottom: 160px;
  text-align: center;
} */

.content ul {
  display: flex;
  gap: 50px;
  padding: 35px 0;
  margin-left: 1050px;
}

.content ul li {
  font-size: 32px;
}
